@mixin size($width,$x,$color,$fW) {
    width: $width;
    height: 100%;
    display: flex;
    justify-content: $x;
    align-items: center;
    color : $color;
    font-weight: $fW;
}
@mixin centerPosition($x,$y){
    display: flex;
    justify-content: $x;
    align-items: $y;
}

@mixin mSize($fS){
    font-size: $fS;

}




.notice-wrap {
    min-height: 800px;

}
.notice-box {
    height: 100%;
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}
.notice-title {
    font-size: 26px;
    font-weight: 500;
    height: 60px;
    border-bottom: 1px solid black;
}
.notice-bar {
    height: 60px;
    border-bottom: 1px solid silver;
    display: flex;
    cursor: pointer;
}

.notice-detail {
    overflow: hidden;
    border-bottom: 1px solid silver;
    max-height: 0px;
    visibility: hidden;
    transition: 0.5s ease;
    .notice-content {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 600px;
    }
}
.Open {
    visibility: visible;
    max-height: 500px;
}




.notice-type {
    @include size(12%,start,rgb(114, 6, 255),700);
}
.notice-subject{
    @include size(63%,start,black,500);
}
.notice-date {
    @include size(15%,start,black,500);
}
.notice-status {
    @include size(10%,center,black,500);
    position: relative;
    .plus {
        width: 15px;
        height: 3px;
        background: black;
        border-radius: 60px;
        position: absolute;
        transition: 0.5s ease;
    }
    .X {
        transform: rotate(0);
    }
    .Y {
        transform: rotate(90deg);
    }
    .open {
        transform: rotate(0deg) ;
        background: rgb(104, 104, 245);
    }
}





@media screen and (max-width : 556px) {
    .notice-box{
        width: 480px;
    }
    .notice-type {
        @include mSize(12px);
    }
  
}