@mixin size($width,$x) {
    width: $width;
    height: 100%;
    display: flex;
    justify-content: $x;
    align-items: center;
}
@mixin centerPosition($x,$y){
    display: flex;
    justify-content: $x;
    align-items: $y;
}

@mixin mSize($fS,$C,$fW){
    font-size: $fS;
    color:$C;
    font-weight: $fW;
}




.notice-wrap {
    height: 800px;
}
.notice-box {
    height: 100%;
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}
.notice-title {
    font-size: 26px;
    font-weight: 500;
    height: 60px;
    border-bottom: 1px solid black;
}
.notice-list {
    height: 60px;
    border-bottom: 1px solid silver;
    display: flex;
    cursor: pointer;
}
.notice-type {
    @include size(12%,start);
}
.notice-subject{
    @include size(63%,start);
}
.notice-date {
    @include size(15%,start);
}
.notice-status {
    @include size(10%,center);
    position: relative;
    .plus {
        width: 15px;
        height: 3px;
        background: black;
        border-radius: 60px;
        position: absolute;
        transition: 0.5s all;
    }
    .X {
        transform: rotate(0);
    }
    .Y {
        transform: rotate(90deg);
    }
}





@media screen and (max-width : 556px) {
    .notice-box{
        width: 480px;
    }
    .notice-type {
        @include mSize(12px,skyblue ,600);
    }
  
}