div {
    box-sizing: border-box;
}


@mixin size($width,$height,$bg){
    width: $width;
    height: $height;
    background: $bg;
}

@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}


.Banner-wrap {
    @include size(100%,480px,transparent);
    position: relative;
}

.Banner-img {
    @include size(100%,400px,transparent);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    @include flex();
}


.Banner-info {  
    @include size(100%,80px,white);
    @include flex();
    position: absolute;
    bottom: 50px;
    box-shadow: 0px 0px 15px 0px silver;
    // border-bottom: 1px solid silver;
}

.Banner-text {
    position: absolute;
    color: white;
    margin: 0 auto;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 5px;
}


.subCatg-btn {
    width: 300px;
    height: 100%;
    @include flex();
    background: white;
    color: black;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
    font-size: 20px;
    // font-weight: bold;
}



.selectTool {
    border-bottom: 4px solid coral;
    font-weight: bold;
}


@media  screen and (max-width : 556px){
}