div {
    box-sizing: border-box;
}
    @mixin size($width, $height){
        width: $width;
        height: $height;
    }


.footer-wrap {
    @include size(100%,300px);
    background: rgb(71, 71, 71);
    // position: absolute;
    bottom: 0;
    .ft {
        @include size(100%,80px);
        background:transparent;
        box-shadow: 0 5px 10px 0(black);
        border: 1px solid #eeeeee33;
    }
    .fb {
        @include size(100%,220px);
        padding: 30px 0px 0px 300px;
        color: white;
    }
    
}





@media screen and (max-width : 996px) {
    .footer-wrap {
        height: 400px; 
    }
    .fb{
        padding: 30px 0px 0px 50px;
    }
}