@mixin positionCenter($x,$y){
    display: flex;
    justify-content: $x;
    align-items: $y;
}
.explanation-wrap {
    margin-top: 15px;
    width: 100%;
    height: 150px;
    background: #333;
    @include positionCenter(center,center)
}
.explanation-icon{
    width: 15%;
    height: 100%;
    font-size: 90px;
    color :white;
    @include positionCenter(center,center );
}
.explanation-text{
    width: 70%;
    height: 100%;
    padding-left: 50px;
    @include positionCenter(start,center );

     div {
        color : white;
        font-size: 19px;
        font-weight: bold;
     }
}


@media screen and (max-width : 556px) {
    .explanation-icon{
        width: 35%;
    }   
    .explanation-text{
        width: 65%;
        padding-left: 0px;
        div {
            font-size: 14px;
        }   
    }
   }
