
@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin serviceCheckBox($fs,$fw){
    padding-left: 60px;
    width: 50%;
    height: 100%;
    float: left;
    @include flex(start,center);
    font-size: $fs;
    font-weight: $fw;
}

.service-wrap {
    margin-top: 50px;
    width: 1100px;
    // height: 200px;
    background: white;
    border: 1px solid black ;
    .service-navbar {
        @include flex(center,center);
        height: 70px;
        background: #f8f8f8;
    }
}

.service-catg {
    min-width: 80px;
    @include flex(center,center);
    height: 40px;
    margin: 8px;
    border-radius: 20px;
    cursor: pointer;
}
.select-serviceCatg{
    background: #3b3b3b;
    color : white;
    font-weight: 700;
}
.service-box {
    width: 33.333333%;
    height: 65px;
    display: inline-block;
    flex-direction: row;
}

.serviceCheckBox {
    @include serviceCheckBox(15px, 500);
}
.servicePrice {
    @include serviceCheckBox(17px, 600);
}

.decision-box {
    width: 1100px;
    height: 49px;
    margin-top: 50px;
    margin-bottom: 50px;
    // background: red;
    @include flex(center,center);
        .decision-btn{
            @include flex(center,center);
            padding: 10px 35px;
            background: #3b3b3b;
            color:white;
            margin: 0 20px;
            border: 1px solid black;
            cursor: pointer;
            font-size: 20px;
        }
        .backbtn {
            background: white;
            color:black;
        }
}

.privacyinput-box {
    margin-top: 50px;
    width: 1100px;
    height: 200px;
    // background: gold;
    border: 1px solid black;
    .privacyinput-header{
        height: 70px;
        background: #f8f8f8;
        @include flex(center,center );
        .privacyinput-headerContent{
            min-width: 170px;
            @include flex(center,center);
            height: 40px;
            margin: 8px;
            border-radius: 20px;
            background: #3b3b3b;
            color : white;
            font-weight: 700;
        }
    }
    .privacyinput-content {
        @include flex(center,center );
        height: 130px;
        .input-box {
            width: 150px;
            height: 60px;
            margin: 0px 40px;
            // background: red;
            font-size: 15px;
            position: relative;
            input {
                border: 1px solid silver;
                width: 97.5%;
                font-size: 15px;
                height: 35px;
                padding-left: 10px;
                // border: none; 
                // border-bottom: 1px solid black;
            }
            input:focus {
                outline: none;
                border:  1px solid #3b3b3b;
            }
            button {
                font-size: 14px;
                height: 39px;
                position: absolute;
                right: -90px;
                top: 0px;
                cursor: pointer;
                background: #3b3b3b;
                color : white;
                border: none;
            }

            
        }
    }
}

.alarm {
    font-size: 8px;
    color:rgb(0, 119, 0);
    width: 165px;
    display: none;
}
.denied {
    display: block;
    color:red;
}
.access {
    display: block;
}


@media screen and (max-width:556px) {
    .service-wrap {
        width: 470px;
    }
    .service-box{
        width: 50%;
    }
    .serviceCheckBox{
        padding-left: 10px;
        font-size: 14px;
    }
    .servicePrice{
        font-size: 14px;
    }
    .decision-box {
        width: 470px;
        .decision-btn{
            font-size: 12px;
        }
    }
    .privacyinput-box{
        width: 470px;
    }
    .privacyinput-box{
    .privacyinput-content{
        .input-box{
            margin: 0px 40px;
           input {
            font-size: 9px;
           }
           button {
            right: -35px;
            top: 0px;
            font-size: 5px;
           }
        }
    }
    }
    .alarm {
        width: 70px;
    }
}